@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
body {
  background-color: powderblue;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans Mono", monospace;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 3, 85);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(3, 122, 138);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(89, 190, 221);
  border: solid 1px rgb(8, 56, 189);
}
/* SCROLLBAR END */
h1 {
  color: rgb(17, 82, 204);
  font-size: 2.5rem;
}
label {
  color: rgb(22, 70, 212);
  font-weight: bolder;
  font-size: 1.25rem;
}
button {
  color: rgb(3, 3, 3);
  background-color: transparent;
  border: 0.5px solid rgb(21, 5, 71);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  transition-property: background-color, color;
  margin: 5px 10px;
  padding: 5px 10px;
  /* height: 8vh; */
  max-height: 8vh;
  font-size: 1.25rem;
}
button:hover {
  color: white;
  background-color: rgb(17, 82, 204);
}
input {
  padding: 2px 8px;
  margin: 5px 0;
  font-family: inherit;
  border-radius: 20px;
  max-width: 100%;
  background: lightblue;
  font-size: 1.15rem;
  font-weight: bold;
  color: rgb(39, 76, 196);
}
table {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-transform: capitalize;
}
thead {
  background: rgba(12, 130, 199, 0.45);
}
th {
  font-size: 1.5rem;
  /* text-transform: capitalize; */
  color: rgb(22, 70, 212);
  padding: 1vh 1vw;
}
td {
  margin: auto;
  padding: 1vh 1vw;
  text-align: center;
  align-items: center;
  background: rgba(91, 170, 216, 0.24);
  font-size: 1.2rem;
  color: rgba(17, 74, 121, 0.842);
  font-weight: bold;
}
.fas {
  font-size: 1.3rem;
  color: blue;
  margin: 1vh 2vw;
}
